/*
    ==========
    Footer
    ==========
*/
footer {
    height: 60px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    position: absolute;
    border-bottom: 0;
}
