/*
    =========
    Header
    =========
*/
header {
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    justify-content: left;
    display: flex;
    align-items: center;
}

.logo {
    background-image: url("../images/logo.png");
    background-color: white;
    margin-left: 20px;
    background-repeat: no-repeat;
    width: 142px;
    height: 60px;
}
